@font-face {
	font-family: 'AcidGrotesk';
	font-display: swap;
	src: url("../../src/fonts/FFF-AcidGrotesk-Light-1.woff2") format("woff2");
	font-weight: 300; /* Light weight */
	font-style: normal;
}

@font-face {
	font-family: 'AcidGrotesk';
	font-display: swap;
	src: url("../../src/fonts/FFF-AcidGrotesk-Regular-1.woff2") format("woff2");
	font-weight: 400; /* Regular weight */
	font-style: normal;
}

@font-face {
	font-family: 'AcidGrotesk';
	font-display: swap;
	src: url("../../src/fonts/FFF-AcidGrotesk-Medium-2.woff2") format("woff2");
	font-weight: 500; /* Medium weight */
	font-style: normal;
}
