.site-wrapper{
  max-width: 1170px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

  
  .container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  .banner{
    margin-top: 24px;
  }

  .subs-wrap {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: fit-content;
    gap: 3px; 
  }
.subs{
  display: flex;
  align-items: center;
  gap: 48px;
  height: 52px;
  background: #E6E6E6;
  width: 996px;
  background-size: 996px 100%; 

  .title {
    padding-left: 28px;
    font-family: "Noto Serif";
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .txt {
    margin-bottom: 32px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.btn{
  position: relative;
  background-color: black;
  width: 171px;
  height: 52px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5%;
  text-transform: uppercase;
  color: #FFFFFF;
  overflow: hidden;
  transition: 0.8s ease;

    &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%; // Начинается за левым краем
    width: 100%;
    height: 100%;
    background-color: rgb(51, 255, 0);
    transition: right 1s ease;
    z-index: -1; // Помещается под текстом
  }

   &:hover::before {
   right: 0; // Сдвигается внутрь кнопки — эффект "заливки справа налево"
  }

  &:hover{
    background-color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 20px rgb(0, 255, 55));
    color: #000000;
    transition: 0.5s ease;
  }
}

.latest-wrap {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .latest {
    font-family: "Noto Serif";
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2%;
  }
}
.title2 {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  font-family: Noto Serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 40px;
  gap:3px;
}

.title2 span {
  flex-grow: 1; /* Распределяет доступную ширину равномерно между элементами */
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 50px;
}

.black {
  background-color: black;
  color: #FFFFFF;
}

.grey {
  background-color: #E6E6E6;
  color: #000; 
}
.latest-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 колонки
  gap: 30px;
  margin-top: 24px;

  img {
    width: 370px;
    height: 390px;
    object-fit: cover;
  }
}
.latest-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.latest-btn {
  background-color: #000;
  width: 258px;
  height: 52px;
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5%;
  text-transform: uppercase;
}
.featured {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2%;
  text-transform: uppercase;
}

.featured_block {
  background-color: #E6E6E6;
  margin-top: 40px;
  height: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .txt_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    max-width: 50%;
    text-align: left;
    padding-left: 30px;
    padding-right: 48px;

    .featured_slide_size{
    width: 164px;
    height: 4px;
    margin-bottom: 30px;
    gap: 8px;
   
  }

.featured_slide_size {
  display: flex;
}

.featured_slide,
.featured_slide_2,
.featured_slide_3,
.featured_slide_4 {
  width: 35px;
  height: 4px;
}

.featured_slide {
  background-color: #000; 
}

.featured_slide_2,
.featured_slide_3,
.featured_slide_4 {
  background-color: #fff; 
}

  


    .title_featured {
      font-family: 'Noto Serif', serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 0;
      
    }

    .txt_featured {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0;
     
    }

    .btn_featured {
      margin-top: 24px;
      

      .btn_txt {
        background-color: #000;
        width: 143px;
        height: 40px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5%;
      }
    }
  }
  .block_img {
    display: flex;
    justify-content: flex-end;

  }
}
.featured-3 {
  background-color: #E6E6E6;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  height: 450px;
}

.featured_txt_3 {
  margin-top: 12px;
  display: flex;
  flex-direction: column;

}

.txt_redact {
  font-family: Noto Serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.txt_redact_1 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.container_gogle{
  display: flex;
  justify-content: center;
  align-items: center;

.border_gogle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 728px;
  height: 90px;
  border: 1px solid black;
  margin-top: 80px;
 }
.gogle_txt{
  font-family: Roboto;
font-weight: 400;
font-size: 24px;
line-height: 30px;
letter-spacing: 5%;
text-transform: uppercase;

}
}
.helpful-title {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .font-helpful {
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2%;
    text-transform: uppercase;
  }
}

.helpful-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.container-helpful {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 270px;
  max-height: 442px;

  img.helpful-img {
    width: 100%;
  }

  .helpful-font-title {
    font-family: 'Noto Serif';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .helpful-font {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  .helpful-money {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-transform: uppercase;
  }
}
.background-helpful {
  background-color: #E6E6E6;
  margin-top: 40px;
  height: 214px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .font-background-helpful-title {
    max-width: 684px;
    max-height: 98px;
    font-family: Noto Serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .font-background-helpful {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .email-helpful {
    border-bottom: 1px solid black;

  }
}

.btn-helpful{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 52px;


  .btn-wrap{
    background-color: #000;
    color: #E6E6E6;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5%;
    text-transform: uppercase;
    padding-left: 48px;
    padding-right: 48px;
    transition: 1s ease;
  
  
  &:hover{
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
    transition: 0.5s ease;
  }
}
}
.background-helpful-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6;
  margin-top: 80px;
  height: 229px;

  .helpful-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  

  .helpful-font-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 535px;

    p {
      font-family: 'Noto Serif', serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      text-align: center;
      margin: 0;
    }

    span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }
  }

  .helpful-email-btn {
    display: flex;
    width: 508px;
    height: 52px;
  }
  input{
    width: 400px;
    padding-left: 20px;
    color: #4D4D4D;
  }
  button{
    width: 108px;
    background-color: #000;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5%;
    text-transform: uppercase;
    transition: 1s ease;

    &:hover{
      background-color: rgb(0, 0, 0);
      color:#1ce201;
      transition: 1s ease;
      filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
      transform: translateX(10px);
      width: 140px;
    }
  }
}
}
.social-media{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  .social-title{
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2%;
    text-transform: uppercase;
  }
 }

.social-media-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.container-media-social {
  display: flex;
  flex-direction: column;
  width: 370px;

  img {
    width: 100%;
    height: 248px;
    object-fit: cover;
  }

  .social-media-title {
    font-family: Noto Serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  .social-media-txt {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}


.social-media-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 366px;
  background-color: #E6E6E6;
}
.border-footer {
  margin-top: 80px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  flex: 1;

  p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
  }
}

.email-footer {
 display: flex;

  input {
    width: 180px;
    height: 40px;
    padding: 0 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    background-color: #E6E6E6;
  }

  button {
    width: 120px;
    height: 40px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5%;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;

  }
}
.bottom-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  p{
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
  }
  a{
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: right;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
  }
}